<h2>Update reader form</h2>
<h5>* fields are required</h5>
<form name="form" #f="ngForm" (submit)="f.form.valid && updateReader()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email*</label>
      <input type="email" class="form-control"
             id="email" name="email"
             #email="ngModel"
             [ngClass]="{'is-invalid' : f.submitted && email.invalid}"
             required email
             placeholder="Email" [(ngModel)]="readerDto.userDto.email"
      />
      <div *ngIf="f.submitted && email.invalid" class="invalid-input">
        <div *ngIf="email.errors?.required">Email should exists</div>
        <div *ngIf="email.errors?.email">Email is not valid email</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password*</label>
      <input type="password" class="form-control"
             id="inputPassword4" name="password"
             placeholder="Password" [(ngModel)]="readerDto.userDto.password"
             #password="ngModel"
             [ngClass]="{'is-invalid' : f.submitted && password.invalid}"
             required minlength="5"
      />
      <div *ngIf="f.submitted && password.invalid" class="invalid-input">
        <div *ngIf="password.errors?.required">Password should exists</div>
        <div *ngIf="password.errors?.minlength">Password should be at least greater than 5 characters</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name*</label>
      <input type="text" class="form-control"
             id="name" name="name"
             placeholder="Name" [(ngModel)]="readerDto.name"
             #name="ngModel"
             [ngClass]="{'is-invalid' : f.submitted && name.invalid}"
             pattern="^[A-Z][a-z]+"
             required
      />
      <div *ngIf="f.submitted && name.invalid" class="invalid-input">
        <div *ngIf="name.errors?.required">Name should exists</div>
        <div *ngIf="name.errors?.pattern">Invalid name (should contains at least 2 characters and first letter in upper
          case)
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="surname">Surname*</label>
      <input type="text" class="form-control"
             id="surname" name="surname"
             placeholder="Surname" [(ngModel)]="readerDto.surname"
             #surname="ngModel"
             [ngClass]="{'is-invalid' : f.submitted && surname.invalid}"
             pattern="^[A-Z][a-z]+"
             required
      />
      <div *ngIf="f.submitted && surname.invalid" class="invalid-input">
        <div *ngIf="surname.errors?.required">Surname should exists</div>
        <div *ngIf="surname.errors?.pattern">Invalid surname (should contains at least 2 characters and first letter in
          upper case)
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="dateOfBirth">Date of Birth</label>
      <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="readerDto.dateOfBirth"/>
    </div>
    <div class="form-group col-md-4">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="readerDto.phone"/>
    </div>
    <div class="form-group col-md-2">
      <label for="gender">Gender</label>
      <select id="gender" class="form-control" name="gender" [(ngModel)]="readerDto.gender">
        <option value="0">Male</option>
        <option value="1">Female</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="role">Role*</label>
      <select id="role" class="form-control" name="role" [(ngModel)]="readerDto.userDto.role"
              #role="ngModel"
              [ngClass]="{'is-invalid' : f.submitted && role.invalid}"
              required>
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
      </select>
      <div *ngIf="f.submitted && role.invalid" class="invalid-input">
        <div *ngIf="role.errors?.required">Field is required</div>
      </div>
    </div>
  </div>
  <img [src]="imageFile" id="image" alt="Your image" class="img-thumbnail" />
  <div class="mt-2 custom-file">
    <input type="file" class="custom-file-input" id="file" name="file" [(ngModel)]="readerDto?.photoDto.file"
           #file="ngModel" (change)="deleteImageIfFileSelected()"
           [ngClass]="{'is-invalid' : f.submitted && validateFileExtension(file)}">
    <label class="custom-file-label" for="file">Choose file</label>
    <div *ngIf="f.submitted && validateFileExtension(file)" class="invalid-input">
      <div>File format is invalid (exceptable formats: .png, .jpg, .jpeg)</div>
    </div>
  </div>
  <button type="submit" class="mt-3 btn btn-primary">Update reader</button>
  <button type="reset" class="mt-3 btn btn-primary pull-right" (click)="backToReaderPage()">Back to readers</button>
</form>
