<h1 class="templateTitle">List of books</h1>
<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary" type="button" id="button-addon1">Search</button>
  </div>
  <input type="text" aria-label="First name" placeholder="Title of searching book" class="form-control">
  <input type="text" aria-label="Last name" placeholder="Name of author" class="form-control">
  <input type="text" aria-label="Last name" placeholder="Type of genre" class="form-control">
  <input type="text" aria-label="Last name" placeholder="Year of publication" class="form-control">
</div>
<div>
  <a routerLink="/books/add" class="href-button-add">Add a book</a>
  <button class="small-button">Write off the books</button>
</div>
<table id="entity-list">
  <tr>
    <th></th>
    <th>Name of the book</th>
    <th>Authors of the book</th>
    <th>Publication date</th>
    <th>Publisher's address</th>
    <th>Reader's name and surname</th>
    <th>Action with book</th>
  </tr>
  <tr *ngFor="let book of books">
    <td><input type="checkbox" value="{{book.id}}" (click)="updateClickedCheckboxesList(book.id, $event)"/> &nbsp;</td>
    <td><a routerLink="/books/{{book.id}}">{{book.title}}</a></td>
    <td><p *ngFor="let author of book.authors">{{author.surname}} {{author.name}}</p></td>
    <td>{{book.publicationDate}}</td>
    <td>{{book.publisher?.address?.city}} {{book.publisher?.address?.region}}</td>
    <td>{{book.reader?.surname}} {{book.reader?.name}}</td>
    <td>
      <a *ngIf="book.reader === null" routerLink="/keeper-give-out/{{book.id}}" class="href-button">Give out</a>
      <a *ngIf="book.reader != null" (click)="returnBook(book.id)" class="href-button">Return</a>
    </td>
  </tr>
</table>
<hr>
<ul class="nav nav-pills">
  <li class="nav-item" *ngFor="let page of pages; let i=index">
    <a class="nav-link" href="" (click)="setPage(i, $event)">{{i+1}}</a>
  </li>
</ul>
