<h1 class="templateTitle">List of readers</h1>
<div>
  <a routerLink="/readers/add" class="href-button-add">Add a reader</a>
  <a routerLink="/mail" [state]="{data: selectedReaders}" class="href-button-add ml-3">Send an email</a>
  <button class="small-button pull-right" (click)="deleteReaders()">Remove selected readers</button>
</div>
<table id="entity-list">
  <tr>
    <th></th>
    <th>Reader's name</th>
    <th>Reader's surname</th>
    <th>Title of reading book</th>
  </tr>
  <tr *ngFor="let reader of readers">
    <td><input type="checkbox" value="{{reader.id}}" id="{{reader.id}}" (click)="updateClickedCheckboxesList(reader.id, $event)"/> &nbsp;</td>
    <td><a routerLink="/readers/{{reader.id}}">{{reader.name}}</a></td>
    <td>{{reader.surname}}</td>
    <td>{{reader.book?.title}}</td>
  </tr>
</table>
<hr>
<ul class="nav nav-pills">
  <li class="nav-item" *ngFor="let page of pages; let i=index">
    <a class="nav-link" href="" (click)="setPage(i, $event)">{{i+1}}</a>
  </li>
</ul>
